<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Profesor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--add name="AulaEntities" connectionString="metadata=res://*/AulaModel.csdl|res://*/AulaModel.ssdl|res://*/AulaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:serverescuela.database.windows.net,1433;initial catalog=dbAula;persist security info=False;user id=abcalajer;password=Lander05;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <add name="AulaEntities" connectionString="metadata=res://*/AulaModel.csdl|res://*/AulaModel.ssdl|res://*/AulaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=dbAula;Persist Security Info=True;User ID=sa;Password=q1w2e3r4.;connect timeout=30;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--add name="AulaEntities" connectionString="metadata=res://*/AulaModel.csdl|res://*/AulaModel.ssdl|res://*/AulaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Data\dbAula.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
  </connectionStrings>
  <userSettings>
    <Profesor.My.MySettings>
      <setting name="IdUsuario" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IdAulaActual" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ApplicationSkinName" serializeAs="String">
        <value>DevExpress Style</value>
      </setting>
      <setting name="NoSerie" serializeAs="String">
        <value />
      </setting>
      <setting name="NoLicencia" serializeAs="String">
        <value />
      </setting>
      <setting name="Clave" serializeAs="String">
        <value>Lander05</value>
      </setting>
    </Profesor.My.MySettings>
  </userSettings>
</configuration>